* {
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}

body {
  background-color: #24252A;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  background-color: #24252A;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  
}

.logo {
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.navLinks{
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}

.navLinks li a {
  transition: all 0.3s ease 0s;
  font-weight: 500;
  font-size: 16px;
  color: #ecf0f1;
  text-decoration: none;
}

.navLinks li a:hover {
  color: red;
}

.contactButton {
  font-weight: 500;
  font-size: 16px;
  color: #ecf0f1;
  text-decoration: none;
  padding: 9px 25px;
  background-color: red;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.contactButton:hover {
  background-color: white;
  color: black;
}

.spriteImg {
  height: 200px;
  width: 200px;
}

.cardContainer {
  margin: 0 auto;
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.pokeCard {
  height: auto;
  width: 350px;
  margin: 5%;
  padding: 10px;
  background-color: yellow;
  box-shadow: 2.5px 2.5px 10px black;
  border-radius: 10px;
}

.cardName {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  color: #000;
  text-shadow: #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px,
  #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px;
 -webkit-font-smoothing: antialiased;
 border-bottom-width: 1px;
 border-bottom-color: black;
 border-bottom-style: solid;
}

.cardType {
  padding: 7px;
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100px;
  display: block;
  text-align: center;
  position: relative;
  top: -70px;
}

.cardImgpsychic {
  text-align: center;
  background: linear-gradient(to right, #FA92B2, #A13959);
}

.cardImgelectric {
  text-align: center;
  background: linear-gradient(to right, #FAE078, #A1871F);
}

.cardImggrass {
  text-align: center;
  background: linear-gradient(to right, #A7DB8D, #4E8234);
}

.cardImgwater {
  text-align: center;
  background: linear-gradient(to right, #9DB7F5, #445E9C);
}

.cardImgground {
  text-align: center;
  background: linear-gradient(to right, #EBD69D, #927D44);
}

.cardImgnormal {
  text-align: center;
  background: linear-gradient(to right, #C6C6A7, #6D6D4E
  );
}

.cardImgghost {
  text-align: center;
  background: linear-gradient(to right, #A292BC, #493963);
}

.cardImgfire {
  text-align: center;
  background: linear-gradient(to right, #F5AC78, #9C531F);
}

.cardImgbug {
  text-align: center;
  background: linear-gradient(to right, #C6D16E, #6D7815);
}

.cardImgdragon {
  text-align: center;
  background: linear-gradient(to right, #A27DFA, #4924A1);
}

.cardImgice {
  text-align: center;
  background: linear-gradient(to right, #BCE6E6, #638D8D);
}

.cardImgfighting {
  text-align: center;
  background: linear-gradient(to right, #D67873, #7D1F1A);
}

.cardImgpoison {
  text-align: center;
  background: linear-gradient(to right, #C183C1, #682A68);
}

.cardImgflying {
  text-align: center;
  background: linear-gradient(to right, #C6B7F5, #6D5E9C);
}

.cardImgfairy {
  text-align: center;
  background: linear-gradient(to right,#EE99AC, #9B6470);
}

.cardImgdark {
  text-align: center;
  background: linear-gradient(to right,#A29288, #49392F);
}

.cardImgrock {
  text-align: center;
  background: linear-gradient(to right,#D1C17D, #786824);
}

.cardImgsteel {
  text-align: center;
  background: linear-gradient(to right,#D1D1E0, #787887);
}

.cardContentpoison {
  background-color: #C183C1;
  padding: 10px;
  min-height: 232px;
}

.cardContentsteel{
  background-color: #D1D1E0;
  padding: 10px;
  min-height: 232px;
}

.cardContentrock{
  background-color: #D1C17D;
  padding: 10px;
  min-height: 232px;
}

.cardContentdark{
  background-color: #A29288;
  padding: 10px;
  min-height: 232px;
}

.cardContentfairy{
  background-color: #EE99AC;
  padding: 10px;
  min-height: 232px;
}

.cardContentflying{
  background-color: #C6B7F5;
  padding: 10px;
  min-height: 232px;
}

.cardContentfighting{
  background-color: #D67873;
  padding: 10px;
  min-height: 232px;
}

.cardContentice{
  background-color: #BCE6E6;
  padding: 10px;
  min-height: 232px;
}

.cardContentdragon{
  background-color: #A27DFA;
  padding: 10px;
  min-height: 232px;
}

.cardContentbug{
  background-color: #C6D16E;
  padding: 10px;
  min-height: 232px;
}

.cardContentfire{
  background-color: #F5AC78;
  padding: 10px;
  min-height: 232px;
}

.cardContentghost{
  background-color: #A292BC;
  padding: 10px;
  min-height: 232px;
}

.cardContentnormal{
  background-color: #C6C6A7;
  padding: 10px;
  min-height: 232px;
}

.cardContentground{
  background-color: #EBD69D;
  padding: 10px;
  min-height: 232px;
}

.cardContentwater{
  background-color: #9DB7F5;
  padding: 10px;
  min-height: 232px;
}

.cardContentgrass{
  background-color: #A7DB8D;
  padding: 10px;
  min-height: 232px;
}

.cardContentelectric{
  background-color: #FAE078;
  padding: 10px;
  min-height: 232px;
}

.cardContentpsychic{
  background-color: #FA92B2;
  padding: 10px;
  min-height: 232px;
}

.cardButton {
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

.cardButtonA {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.cardButtonA:hover {
  text-decoration: underline;
  transition: all 0.3s ease 0s;
}

.cardDesc {
  padding: 10px;
  font-weight: bold;
  color: #000;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  text-shadow: #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px,
  #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
}

.detailContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}

.pokeMoves {
  list-style-type: none;
  margin: 5px;
  font-weight: bold;
  font-style: italic;
  color: #000;
  text-shadow: #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px,
  #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

.movesHeader {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 5px;
  color: #000;
  text-shadow: #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px,
  #fff 0px 0px 1px,   #fff 0px 0px 1px,   #fff 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
}

.allTrainersDiv {
  margin: 0 auto;
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.trainerCard {
  display: inline-flex;
  height: 120;
  width: 500px;
  margin: 5%;
  padding: 10px;
  background-color: white;
  box-shadow: 2.5px 2.5px 10px black;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.trainerCard:hover{
  width: 600px;
}

.trainerImg {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.tainerName{
  padding: 30px 10px;
  width: 400px;
  align-items: center;
}

.trainerLink {
  padding: 30px 10px;
  width: 60px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
  transform: translateX(70px);
}

.trainerLink:hover {
  color: red;
}

.trainerCard:hover .trainerLink{
  transform: translateX(0px);
}

.trainerDetailContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.trainerDetailCard {
  position: relative;
  width: 350px;
  height: 190px;
  height: 450px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.15);
  transition: 0.5s;
}

.trainerDetailCard:hover{
  height: 450px;
}

.trainerDetailImg {
  position: absolute;
  height: 150px;
  width: 150px;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  transition: 0.5s;
}

.trainerDetailContent {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.trainerDetail {
  padding: 40px;
  text-align: center;
  transition: 0.5s;
  width: 100%;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.2em;
}


.trainerDetailSprite {
  height: 50px;
  width: 50px;
}

.trainerDetailPokemon {
  display: inline-flex;
  width: 100%;
  padding: 2px;
  margin: 1px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(000, 000, 000, 0.25);
  border-bottom-style: solid;
}

.trainerDetailPokeName {
  padding: 10px 50px 10px 10px;
}

.editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  padding: 10px;
}

.formInput {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 18px;
}

.formSubmitButton {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.formSubmitButton:hover {
  background-color: #ffff;
  color: black;
}

.formInput:focus {
  border: 3px solid red;
}

.pokeDetailPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  padding: 10px;
}

.editPokemonButton {
  background-color: red;
  color: white;
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.editPokemonLink {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.editPokemonButton:hover {
  background-color: #ffff;
  color: #000;
}


.pokeLabel{
  color: #ffff;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

.pokeTypeSelect {
  width: 200px;
  height: 30px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.editHeaders {
  color: #ffff;
  text-decoration: underline;
  padding: 10px;
  justify-content: center;
  display: flex;
}

.backButton {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.backButton:hover{
  background-color: #ffff;
  color: black;
}

.backLink{
  padding: 10px;
}

.trainerLinks {
 width: 100%;
  color: rgba(0, 0, 0, 0.555);
  height: 10px;
  padding: 10px 1px;
  font-style: italic;
  font-size: small;
  text-decoration: underline;
  cursor: pointer;
}

.linkSpan {
  color: rgba(0, 0, 0, 0.555);
  padding: 10px 5px;
  font-size:medium;
  font-weight: bolder;
}